@import "tailwindcss";

:root {
  --background: #e8e8e8;
  --foreground: #171717;

  --btnColor: #fd6e0a;
  --darkTxt: #181818;
  --grayNav: #474747;
  --grayContent: #757575;
  --bgPrimary: #fff8f3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);

  --color-bgPrimary: var(--bgPrimary);
  --color-btnColor: var(--btnColor);
  --color-darkTxt: var(--darkTxt);
  --color-grayNav: var(--grayNav);
  --color-grayContent: var(--grayContent);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
