@import "tailwindcss";

:root {
  --background: #e8e8e8;
  --foreground: #171717;

  --btnColor: #fd6e0a;
  --darkTxt: #181818;
  --grayNav: #474747;
  --grayContent: #757575;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);

  --color-btn: var(--btnColor);
  --color-dark: var(--darkTxt);
  --color-gray-nav: var(--grayNav);
  --color-gray-content: var(--grayContent);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
